.paid{
    background-color: rgb(195, 231, 220);
    color: rgb(38, 205, 152);
}

.unpaid{
    background-color: rgb(237, 212, 212);
    color: rgb(228, 28, 28);
}

.overdue{
    background-color: rgb(246, 246, 162);
    color: rgb(222, 222, 25);
}

.received{
    background-color: rgb(29, 226, 177);
}

.pending{
    background-color: rgb(28, 142, 224);
    color: rgb(155, 155, 155);
}

@media (max-width: 769px) {
    .sproduct-table {
        font-size: 13px !important;
    }
}

@media (max-width: 426px) {

    .srbody{
        font-size: 7px !important;
    }
    .sproduct-table{
        font-size: 6px !important;
    }
    .srheader{
        font-size: 14px !important;
    }
    .srtitle {
        font-size: 10px !important;
    }
    .sricon{
        font-size: 10px !important;
    }
    .srtablehead{
        padding: 5px !important;
    }
    .srtableicon{
        padding: 3px 4px !important;
    }
    .srimg{
        width: 15px !important;
    }
    .srselect{
        border-radius: 3px !important;
    }
    .srpage {
        padding: 5px 8px !important;
    }

    .product-table {
        font-size: 9px !important;
    }
}

@media (max-width: 376px) {

    .srbody{
        font-size: 5px !important;
    }
    .sproduct-table{
        font-size: 6px !important;
    }
    .srheader{
        font-size: 15px !important;
    }
    .srheadbtn{
        gap: 5px !important;
    }
    .srsearchrow{
        padding: 3px !important;
    }
    .srtablehead{
        padding: 3px !important;
    }
    .srtableicon{
        padding: 3px 4px !important;
    }
    .sricon{
        font-size: 10px !important;
    }
    .srimg{
        width: 15px !important;
    }
    .srselect{
        border-radius: 2px !important;
        font-size: 8px !important;
    }
    .srpage {
        padding: 5px 8px !important;
        font-size: 8px !important;
    }
    .srrowtitle{
        font-size: 8px !important;
    }

    .product-table {
        font-size: 8px !important;
    }
}

@media (max-width: 321px) {

    .srbody{
        font-size: 4px !important;
    }
    .sproduct-table{
        font-size: 5px !important;
    }
    .srheader{
        font-size: 12px !important;
    }
    .srtitle{
        font-size: 8px !important;
    }
    .srheadbtn{
        gap: 4px !important;
    }
    .srsearchrow{
        padding: 2px !important;
    }
    .srtablehead{
        padding: 3px !important;
    }
    .srtableicon{
        padding: 2px 3px !important;
        border-radius: 3px !important;
    }
    .sricon{
        font-size: 10px !important;
    }
    .srimg{
        width: 12px !important;
    }
    .srselect{
        border-radius: 2px !important;
    }
    .srpage {
        padding: 4px 7px !important;
    }

    .product-table{
        font-size: 6px !important;
    }
}